<footer class="text-white mt-4" id="footer">
	<div class="card bg-dark text-center">
		<div class="card-header">
			<span><a class="text-white text-decoration-none" href="#">Geek Infinity</a></span> |
			<span><a href="/staff" class="text-white text-decoration-none">Staff</a></span> 
		</div>
		<div class="row" id="row">
			<div class="col-sm-4">
				<div class="card-body">
					<h5 class="card-title">Contato &#8212; Código e Perfil</h5>
					<p>
						<div>
							<span>E-mail:</span><a target="_blank" href="mailto:geekinfinity.server@outlook.com" class="nav-link">Outlook</a>
						</div>
						<div>
							<span>Desenvolvedor: </span><a class="nav-link" href="https://github.com/oGabrielSilva" target="_blank">GitHub</a>
						</div>
						<div>
							<a target="_blank" class="nav-link" href="https://twitter.com/Gabriel_hsilva">Twitter</a>
						</div>
						<div>
							<a target="_blank" class="nav-link" href="https://www.linkedin.com/in/ogabriel-henrique/">LinkedIn</a>
						</div>
					</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card-body">
					<h5 class="card-title">Sobre</h5>
					<p>
						Este programa é livre e utiliza a linceça MIT (Massachusetts Institute of Technology &#8212;
						Instituto de Tecnologia de Massachusetts). Verifique-a
						clicando 
						<span>
							<a href="https://github.com/oGabrielSilva/Blog/blob/master/LICENSE">aqui.</a>
						</span>
					</p>
				</div>
				<div class="card-body text-light">
					<blockquote class="blockquote mb-0 fs-6" id="blockquote-footer">
						<p>
							Tenha os ossos como grades, a pele como prisão, sinta o sofrer eterno, de uma mente em ascensão.
						</p>
						<footer class="blockquote-footer">
							<span><cite title="Um amigo do dev">Um amigo do dev</cite></span>
						</footer>
					</blockquote>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card-body">
					<h5 class="card-title">Seu feedback</h5>
					<p>
						Encontrou algum problema? Tem alguma opinião e quer compartilhar com o desenvolvedor? 
						Ou só quer mandar uma mensagem? Utilize o formulário abaixo :3
					</p>
					<a target="_blank" href="#" class="btn btn-primary">
						<i class="bi bi-google"></i> <span>Feedback</span>
					</a>
				</div>
			</div>
		</div>
		<div class="text-white pt-3 pb-3">
			&copy; Copyright 2021 by Gabriel Henrique da Silva |
			<span>
				<a target="_blank" href="https://infinitychat.xyz">Infinitychat.xyz</a>
			</span>
		</div>
	</div>
</footer>
<script src="bundle/bundle.js"></script>