<footer class="text-white mt-4">
	<div class="card bg-dark text-center">
		<div class="card-header">
			<span><a class="text-white text-decoration-none" href="#">Geek Infinity</a></span> |
			<span><a href="/staff" class="text-white text-decoration-none">Staff</a></span> 
		</div>
		<div class="row" id="row">
			<div class="col-sm-4">
				<div class="card-body">
					<h5 class="card-title">GitHub &#8212; Código e Perfil</h5>
					<p class="card-text">
						Se você também é um desenvolvedor e gostou do site,
						o criador deixou todo o código no GitHub. Siga-o clicando 
						no botão logo abaixo e deixe seu feedback.
					</p>
					<a target="_blank" href="https://github.com/oGabrielSilva" class="btn btn-primary">
						<i class="bi bi-github"></i> <span>GitHub</span>
					</a>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card-body">
					<h5 class="card-title">Sobre</h5>
					<p class="card-text">
						Este programa é livre e utiliza a linceça MIT (Massachusetts Institute of Technology &#8212;
						Instituto de Tecnologia de Massachusetts). Verifique-a
						clicando 
						<span>
							<a href="https://github.com/oGabrielSilva/Blog/blob/master/LICENSE">aqui.</a>
						</span>
					</p>
				</div>
				<div class="card-body text-light">
					<blockquote class="blockquote mb-0 fs-6">
						<p>
							Tenha os ossos como grades, a pele como prisão, sinta o sofrer eterno, de uma mente em ascensão.
						</p>
						<footer class="blockquote-footer">
							<span><cite title="Um amigo do dev">Um amigo do dev :3</cite></span>
						</footer>
					</blockquote>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card-body">
					<h5 class="card-title">Seu feedback</h5>
					<p class="card-text">
						Encontrou algum problema? Tem alguma opinião e quer compartilhar com o desenvolvedor? 
						Ou só quer mandar uma mensagem? Utilize o formulário abaixo :3
					</p>
					<a target="_blank" href="#" class="btn btn-primary">
						<i class="bi bi-google"></i> <span>Feedback</span>
					</a>
				</div>
			</div>
		</div>
		<div class="text-white pt-3 pb-3">
			&copy; Copyright 2021 by Gabriel Henrique da Silva |
			<span>
				<a target="_blank" href="https://infinitychat.xyz">Infinitychat.xyz</a>
			</span>
		</div>
	</div>
</footer>
<script src="bundle/bundle.js"></script>