<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="application-name" content="Infinity"/>
	<meta name="description" content="">
	<meta name="author" content="Gabriel Henrique da Silva">
	<link rel="shortcut icon" type="image/ico" href="favicon/icon.svg"/>
	<title><% if(locals.article) { %> <%= locals.article.page %> <%} else { %> Geek Infinity <% } %></title>
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/styles/bootstrap.min.css">
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<!-- Bootstrap icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="styles/main.css">
	<!-- Socket.io -->
	<script src="socket.io/socket.io.js"></script>
	<!-- Moment -->
	<script src="lib/moment/index.js"></script>
</head>