<% if (locals.errors && errors.length > 0) { %>
<div class="container">
	<div class="my-3">
		<div class="alert alert-danger">
			<% errors.forEach(erro => { %>
			<%= erro %> <br>
			<% }) %>
		</div>
	</div>
</div>
<% } %>
<% if (locals.success && success.length > 0) { %>
<div class="container">
	<div class="my-3">
		<div class="alert alert-success">
			<% success.forEach(s => { %>
			<%= s %> <br>
			<% }) %>
		</div>
	</div>
</div>
<% } %>