<%- include('includes/head') %>
<body>
	<%- include('includes/header') %>
	<%- include('includes/message') %>
		<main id="posts-category" style="min-height:100vh;" class="text-center">
			<h3>Buscando posts...</h3>
		</main>
	<%- include('includes/footer') %>
</body>
</html>