<article class="container" id="home-header">
	<div class="row" id="row">
		<div class="col-md-4">
			<div class="card mb-3 first-card">
				<img class="card-img-top" src="favicon/icon.svg" alt="Card image cap" draggable="false">
				<div class="card-body">
					<h5 class="card-title">Aguarde...</h5>
					<p class="card-text">
						Aguarde...
					</p>
					<a href="#" class="btn btn-primary">Acessar post</a>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-sm-6">
					<div class="mb-3 card header-card">
						<div class="card-body">
							<h5 class="card-title">Aguarde...</h5>
							<p class="card-text">Aguarde...</p>
							<a href="#" class="btn btn-primary">Acessar post</a>
						</div>
						<div class="card-footer">
							<small class="text-muted">Aguarde...</small>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="mb-3 card header-card">
						<div class="card-body">
							<h5 class="card-title">Aguarde...</h5>
							<p class="card-text">Aguarde...</p>
							<a href="#" class="btn btn-primary">Acessar post</a>
						</div>
						<div class="card-footer">
							<small class="text-muted">Aguarde...</small>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="mb-3 card header-card">
						<div class="card-body">
							<h5 class="card-title">Aguarde...</h5>
							<p class="card-text">Aguarde...</p>
							<a href="#" class="btn btn-primary">Acessar post</a>
						</div>
						<div class="card-footer">
							<small class="text-muted">Aguarde...</small>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="mb-3 card header-card">
						<div class="card-body">
							<h5 class="card-title">Aguarde...</h5>
							<p class="card-text">Aguarde...</p>
							<a href="#" class="btn btn-primary">Acessar post</a>
						</div>
						<div class="card-footer">
							<small class="text-muted">Aguarde...</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>