<section>
	<form method="POST" class="d-flex mb-3">
		<input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
		<button class="btn btn-outline-success" type="submit">Buscar</button>
		<input type="hidden" name="_csrf" value="<%= csrfToken %>">
	</form>
</section>

<section class="mt-3">
	<div class="list-group">
		<a href="#" class="list-group-item list-group-item-action">Artigos Infinity</a>
		<a href="#" class="list-group-item list-group-item-action">Programação</a>
		<a href="#" class="list-group-item list-group-item-action">Mundo Geek</a>
		<a href="#" class="list-group-item list-group-item-action">Comentário</a>
	</div>
</section>

<section class="pt-3" id="featured">
	<div class="card mb-3">
		<div class="card-header">
			Featured
		</div>
		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			<a href="#" class="btn btn-primary">Acessar post</a>
		</div>
	</div>
	<div class="card">
		<div class="card-header">
			Featured
		</div>
		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			<a href="#" class="btn btn-primary">Acessar post</a>
		</div>
	</div>
</section>
