* {

}

.footer {
	min-height: 30vh;
}

footer .card #row {
	max-width: 100vw;
	margin-left: -1px;
}

.header-card {
	height: 290px;
	overflow: auto;
}

.first-card {
	height: 596px;
}

#home-section {
	max-width: 1440px;
}

p.card-text {
	overflow: auto;
	max-height: 100px;
}
